<%= form_for([@project, @message]) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br><br>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div><br>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
