<h2><%= @project.title%>'s Messages:</h2>

<%= link_to "New Message", new_project_message_path(@project, @message) %>

<% if @messages.empty? %>
  <h3><%= "You don't have any messages." %></h3>
<% else %>
  <% @messages.each do |msg| %>
    <h3><%= link_to msg.title, project_message_path(@project, msg) %></h3>
    <p><%= msg.content %> </p>
  <% end %>
<% end %>

<br><br>
<%= link_to "Back", project_path(@project) %>
