<%= form_for([project, task]) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %> <br><br>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %> <br><br>
  </div>

  <div class="field">
    <%= f.label :assigned_to %><br>
    <%= f.text_area :assigned_to %> <br><br>
  </div>

  <div class="field">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark as complete</label>
  </div>

  <br><br>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
