<%= render partial: 'layouts/errors', locals: {object: @task} %>

<%= form_for([project, task]) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %> <br><br>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %> <br><br>
  </div>

  <div class="field">
    <%= f.label :assigned_to %><br>
    <%= f.text_area :assigned_to %> <br><br>
  </div>

  <div class="field">
    <%= hidden_field_tag "checked[#{task.status}]", "false" %>
    <p>Mark as complete:<%= check_box_tag "checked[#{task.status}]", "true", true %></p>
  </div>

  <br><br>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
