<br></br>
<h2><%= @task.title %></h2>
<p><%= @task.description %></p>
<p><%= @task.status %></p>

<br>
<%= link_to "Edit", edit_project_task_path %>
<br><br>
<%= link_to "Delete Task", project_task_path(@project, @task), method: 'delete' %>

<br><br><br>

<%= link_to "Back", project_path(@project) %>
