<h3>Project Title:</h3>
<h1><%= @project.title %> </h1>

<h3>Description: </h3>
  <%= @project.description %>

<h3> Tags: </h3>
  <ul>
    <% @project.tags.each do |tag| %>
      <li><%= link_to tag.name, project_tag_path(@project, tag) %></li>
    <% end %>
  </ul>
  <h4><%= link_to "Add a Tag", new_project_tag_path(@project) %></h4>

<br><br>
  <h2> Project Messages: </h2>
    <ul>
      <% @project.messages.each do |msg| %>
        <li><%= link_to msg.title, project_message_path(@project, msg) %>
          <ol><%= msg.content %></ol>
        </li>
        <% end %>
    </ul>
  <h3><%= link_to "Add Message", new_project_message_path(@project) %></h3>

<br><br>
  <h2> Project Tasks: </h2>
  <h4> <%= link_to "All Tasks", project_tasks_path(@project) %></h4>
    <ul>
      <% @project.tasks.each do |task| %>
        <li><%= link_to task.title, project_task_path(@project, task) %>
            <ol>Description: <%= task.description %></ol>
            <ol>Assigned to: <%= task.assigned_to %></ol>
            <ol>Status: <%= task.status %> </ol>
          </li>
        <% end %>
    </ul>
  <h3><%= link_to "Add Task", new_project_task_path(@project, @task) %></h3>

<br><br>
<%= link_to "Edit this Project", edit_project_path(@project) %>
<br><br>
<%= link_to "Delete this Project", project_path(@project), method: 'delete' %>
<br><br>
<%= link_to 'Back', projects_path %>
