<div class="container" style="width:80%;">
  <div class="card mb-3">

  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
      <h3>Project Title:</h3>
      <h1><%= @project.title %> </h1>

      <h3>Description: </h3>
      <%= @project.description %>

      <h3> Tags: </h3>
      <ul>
        <% @project.tags.each do |tag| %>
        <li><%= link_to tag.name, project_tag_path(@project, tag) %></li>
        <% end %>
      </ul>
    <h4><%= link_to "Create a New Tag", new_project_tag_path(@project) %></h4>
      </div>
     </div>
    </div>
  </div>
 </div>

<br><br>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
      <h2> Project Messages: </h2>
      <div class="project-messages">
        <h4><%= link_to "All Messages", project_messages_path(@project), :class => "load-messages", :data => { :id => @project.id } %></h4>
        
        <h3><%= link_to "Add Message", new_project_message_path(@project) %></h3>
      </div>
      <ul id="messages">
          
        </ul>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
      <br><br>
      <h2> Project Tasks: </h2>
      <div class="project-tasks">
        <h4><%= link_to "All Tasks", project_tasks_path(@project), :class => "load-tasks", :data => { :id => @project.id} %></h4>
      
        <h3><%= link_to "Add Task", new_project_task_path(@project, @task) %></h3>
      </div>
      <ul id="tasks">
  
      </ul>
    </div>
  </div>
</div>

<br><br>
<%= link_to "Edit this Project", edit_project_path(@project) %>
<br><br>
<%= link_to "Delete this Project", project_path(@project), method: 'delete' %>
<br><br>
<%= link_to 'Back', projects_path %>
