<h3>Project Title:</h3>
<h1><%= @project.title %> </h1>

<h3>Description: </h3>
  <%= @project.description %>

<h3> Tags: </h3>
  <ul>
    <% @project.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
  <h4><%= link_to "Add a Tag", new_tag_path %></h4>

<br><br>
  <h2> Project Messages: </h2>
    <ul>
      <% @project.messages.each do |msg| %>
        <li><%= link_to msg.title %>
          <ol><%= msg.content %></ol>
        </li>
        <% end %>
    </ul>
  <h3><%= link_to "Add Message", new_project_message_path(@project, @message) %></h3>

<br><br>
  <h2> Project Tasks: </h2>
    <ul>
      <% @project.tasks.each do |task| %>
        <li><%= link_to task.title, project_task_path(@project, task) %>
            <ol>Description: <%= task.description %></ol>
            <ol>Assigned to: <%= task.assigned_to %></ol>
            <ol>Status: <%= task.status %> </ol>
          </li>
        <% end %>
    </ul>
  <h3><%= link_to "Add Task", new_project_task_path(@project, @task) %></h3>

<br><br>

<%= link_to 'Back', projects_path %>
