<h2>Project Title:</h2>
  <%= @project.title %>

<p>Description: </p>
  <%= @project.description %>

<p> Tags: </p>
  <ul>
    <% @project.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>

  <h2> Project Tasks: </h2>
    <ul>
      <% @projects.tasks.each do |task| %>
        <li><%= task.title %></li>
        <li><%= task.description %></li>
        <% end %>
    </ul>

<%= link_to 'Back', projects_path %>
