<%= render partial: 'layouts/errors', locals: {object: @tag} %>

<%= form_for @tag do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br><br>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
