<%= render partial: 'layouts/errors', locals: {object: @tag} %>

<%= form_for([project, tag]) do |f| %>
  <div class="field">
    <p>Create a New Tag:</p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
