<% if user_signed_in? %>
  <p><%= link_to "Home", root_path %> | <%= link_to "Projects", projects_path %> | <%= link_to "All Tasks", project_tasks_path(@project, @task) %> | <%= link_to "Sign Out", users_sign_out_path %></p>
<% else %>
  <p><%= link_to "Home", root_path %> | <%= link_to "Sign Up", new_user_registration %> | <%= link_to "Sign In", new_user_session_path %></p>
<% end %>
