<% if user_signed_in? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="topnav">
    <h3>
        <%= link_to "Projects", projects_path, :class=> "active"%>
        
        <div class="topnav-right">
          <%= link_to "Your Profile", current_user %> | 
          
          <%= link_to "Sign Out", destroy_user_session_path, {method: :delete} %>
        </div>
    </h3>
  </div>
</nav>
<% else %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="topnav">
    <h3>
      <%= link_to "Home", root_path, :class=>"active" %>  
      
      <div class="topnav-right">
        <%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %>
      </div> 
    </h3>
  </div>
</nav>
<% end %>
