<!DOCTYPE html>
<html>
<head>
  <title>CruxRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <style>
  body {
    background-color: #f7f7f7;
  }
  </style>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="~/code/labs/crux-rails-app/app/assests/javascripts/projects.js"></script>

  <div class="container">
    <%= render "layouts/flash_block" %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </div>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
