<!DOCTYPE html>
<html>
<head>
  <title>CruxRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <style>
  body {
    background-color: #f7f7f7;
  }
  </style>
</head>
<body>
  <div class="container">
    <%= render "layouts/flash_block" %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </div>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
